.box {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

h2 {
  color: #ee0505; 
  margin-bottom: 20px;
}

.list {
  padding: 0;
  text-align: center;
}

li {
  position: relative;
  padding: 8px ;
  color: #7dd3fc; 
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px ridge #f5f0f0e7;
  margin: 10px ;
}

