/* スレッド一覧のコンテナ */
.thread-list {
    width: 100%;
    max-width: 1200px; 
    /*margin-left: 320px; */
  }
  
  /* 見出しのスタイル */
  .thread-list h2 {
    color: #e71d1d;
    text-align: center; 
  }
  
  /* リストのスタイル */
  .thread-list ul {
  }
  
 .thread-list li{
    padding: 5% ;
    margin: 1em ;
    background: #201d1d;
    border-left: solid 6px #5bb7ae;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
    
}