
.App {
  text-align: center;
  background-color: #2b1d28; /* ダークブルーの背景 */
  min-height: 100vh;
  padding: 50px;
  color: #06ff59ee; 
  margin-left: 300px;
  margin-right: 0;
}

h1 {
  margin-top: 5px;
  margin-bottom: 1px;
  font-size: 4rem;
  color: #ffffff;
  background-color: #2d98d6;


}