
.header {
  background-color: #282c34;
  width: auto;
  margin-left:320px;
  padding: 10px;
  color: rgba(61, 233, 84, 0.507);
  text-align: center;
}

.main {
  background-color: #0e0d0d;
  width: 100%;
  max-width: 800px; /* コンテンツの最大幅を制限 */
  padding: 0 20px; /* 左右に余白を追加 */
  margin: 0 auto; 
  min-height: 400px;
  margin-left:130px;
}
